* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-color: #202324;
}

body {
    padding-bottom: 200px;
}

div.container {
    text-align: justify;
}

legend {
    font-size: 20px;
    color: darkorange;
}

fieldset.group, fieldset.event_group, button {
    margin-left: 5%;
    margin-right: 5%;
}

table {
    /* width: 50%; */
    table-layout: auto !important;
    width: auto !important;
    /* max-width:100%;
    white-space: pre-wrap; */
}

td {
    border-top: 1px solid white;
    padding-right: 7px;
    /* border-collapse: collapse; */
}

@media (max-width: 1100px) {
    fieldset.group, fieldset.event_group, button {
        margin-left: 1%;
        margin-right: 1%;
    }

    table {
        width: 100%;
    }
}

fieldset, label {
    color: #E8E6E3;
    font-size: 19px;
}

a:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #FF72FF;
    background-color: transparent;
    text-decoration: none;
}

.big_button, .drop_down {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 5px;
    font-size: 18px;
}

.formButton {
    margin-top: 10px;
    font-size: 16px;
}

.event_button {
    display: inline-block;
    margin-left: 0;
    margin-right: 3px;
}

input {
    padding: 2px 10px;
}

div.button_container {
    text-align: center;
}

.ultraCompactTimeUntil {
    display: inline;
}